* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d1e1f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
}

.login-box {
    width: 50%;
    padding: 40px;
    background: linear-gradient(135deg, #0053a0, #00a0d8);
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.login-content h1 {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.login-content h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.login-content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}
.btn-login {
    width: 100%;
    background-color: #004080;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #003060;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: white;
    text-decoration: underline;
}
.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.options a {
    color: white;
    text-decoration:none;
}
.login-image {
    width: 50%;
    background-color: #f9f9f9;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img {
    max-width: 100%;
    height: auto;
}
